:root {
  --primary-color: #6441A5;
  --secondary-color: #493274;
  --tertiary-color: #ffffff;
  --quaternary-color: #dddddd;
  --quinary-color: #222222;
  --senary-color: #171717;
  --septenary-color: #000000;
}
@font-face {
  font-family: Bebas Neue;
  src: url("../fonts/Bebas_Neue/BebasNeue-Regular.ttf");
}
@font-face {
  font-family: Scope One;
  src: url("../fonts/Scope_One/ScopeOne-Regular.ttf");
}
* {
  margin: 0;
}
body {
  background-color: var(--quinary-color);
}

.inspiration {
  background-color: var(--senary-color);
}

.logo {
  font-family: Bebas Neue;
  font-size: 50px;
  color: var(--primary-color);
  margin: auto 6px;
  /* -webkit-text-stroke: 1px black; */
}

.aprende4programar {
  font-family: Bebas Neue;
  font-size: 44px;
  margin: auto 0;
  color: var(--tertiary-color);
}
.speech {
  font-family: Scope One;
  font-size: 20px;
  text-align: center;
  color: var(--tertiary-color);
}


.teachers {
  height: 60vh;
  /* background: black;  */
  /* background: -webkit-linear-gradient(
    to right,
    var(--secondary-color),
    var(--primary-color)
  ); 
  background: linear-gradient(
    to right,
    var(--secondary-color),
    var(--primary-color)
  ); */
}

.QA {
  background-color: var(--quinary-color);
  position: relative;
  z-index: 1;
}

.info-container {
  background-color: var(--secondary-color);
}

.what-is-programming {
  font-family: Bebas Neue;
  font-size: 39px;
  margin: auto 0;
  padding: 10px 0;
  color: var(--quaternary-color);
}
.programming-is {
  font-family: Scope One;
  font-size: 20px;
  color: var(--tertiary-color);
  padding: 30px 100px;
}

.footer {
  font-family: Bebas Neue;
  font-size: 50px;
  color: var(--primary-color);
  margin: auto;
  text-align: center;
  background-color: var(--senary-color);
}

a.svg {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

a.svg:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

@media (max-width: 805px) {
  .adapt-to-phone {
    flex-wrap: wrap;
    justify-content: center;
    flex-basis: 200px;
    flex-grow: 9999;
  }
  .programming-is {
    padding: 30px 50px;
  }
}
